.container {
    display: flex;
    font-family: Arial;
    color: #005CB9;
    font-size: medium;
}

.item {
    flex: 1;
    padding: 2.5%;
    background-color: rgb(39, 37, 37);
    border-style: solid;
    border-color: rgb(36, 35, 34);
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-family: Arial;
    color: rgb(4, 63, 122);
}

.overlay {
    transition: bottom ease 1s;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    padding: -2%;
    opacity: .7;
    background-color: antiquewhite;
}

.item:hover .overlay {
    opacity: 0.6;
    bottom: 0;
}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
}

.textbox-title{
    flex: 2;
    font-family: Arial;
    color: rgb(2, 103, 204);
    font-size: xx-large;
    font-style: oblique <angle>;
}

.textbox-main {
    flex: 2;
    font-size: large;
    font-family: Arial;
    color: rgb(73, 153, 233);
    font-style: oblique <angle>;
    padding: -10%;
}

.textbox-sub{
    flex: 2;
    font-size: medium;
    font-family: Arial;
    color: #005CB9;
    font-style: oblique <angle>;
    padding: 2%;
}

.aside-1 {
    flex: 1;
}

.aside-2 {
    flex: 1;
    width: 5%;
}

i.fas,
i.fab {
  /* border: 5px solid red; */
  color: salmon;
}

/* .float-left{
    width: 15px;
    height: 15px;

} */
.logos{
    width: 17%;
    /* background-color: white; */
    

}