.textbox-title{
    flex: 2;
    font-family: Arial;
    color: rgb(2, 103, 204);
    font-size: xx-large;
    font-style: oblique;   
}

.img4{
    width: 180%;
} 

.textbox-sub{
    flex: 2;
    font-size: medium;
    font-family: Arial;
    color: #005CB9;
    font-style: oblique;
    padding: 2%;
}